:root {
  --table-header-font-weight: 400;
  --table-header-font-color: #757575;
  --table-cell-padding: 1rem;

  --table-bg: #fff;
  --table-bg-hover: rgba(0, 0, 0, .12);
}

.about {
  & table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    font-size: 1rem;
    background-color: var(--table-bg);
    & > thead,
    & > tbody {
      & > tr {
        & > th,
        & > td {
          text-align: left;
          padding: var(--table-cell-padding);
          vertical-align: top;
          border-top: 0;
        }
      }
    }
    & > thead > tr > th {
      font-weight: var(--table-header-font-weight);
      color: var(--table-header-font-color);
      vertical-align: bottom;
      border-bottom: 1px solid rgba(0, 0, 0, .12);
    }
    & > tbody > tr {
      &:hover {
        background-color: var(--table-bg-hover);
      }
    }
  }
}