.drawer {
  & [aria-hidden="true"] {
    visibility: hidden;
  }
  & button {
    cursor: pointer;
    border: none;
    min-width: 10%;
    font-size: 14px;
    text-transform: uppercase;
    padding: 2%;
    background-color: #f2594b;
    color: #fff;
    border-radius: 3px;
    &:hover {
      opacity: .8;
    }
  }
  &__area {
    position: relative;
    & .menu {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 1;
      width: 300px;
      height: 100vh;
      transform: translate(300px, 0);
      will-change: transform, visibility;
      background-color: #ccc;
      &[aria-hidden="false"] {
        transform: translate(0, 0);
        transition: transform .2s linear;
      }
      &[aria-hidden="true"] {
        transition: visibility 0s linear .2s, transform .2s linear;
      }
      & ul {
        list-style-type: none;
      }
    }
  }
}
